<my-nav></my-nav>

<div class="container">
    <div id="loginbox" style="margin-top: 3vh;" class="col-md-6 mx-auto col-sm-8">
        <div class="card border-info cardBorder">
            <div class="card-header bg-info">
                <div class="card-title">Email Verified!</div>
            </div>

            <div style="padding-top:30px" class="card-body text-center ">
                <div class="text-center">
                    <div>
                        <h2>Welcome to Lets Meet!</h2>
                    </div>
                    <div>
                        <h5>Your account has been activated , you can now login</h5>
                    </div>
                </div>

                <br>
            </div>
            <div class="card-footer text-center">
                <div class="col-md-12 control">
                  <a class="nav-link" [routerLink]="['/user/login']">Login </a>
                </div>
            </div>

        </div>
    </div>
</div>