<my-nav></my-nav>

<div class="container">
  <div id="loginbox" style="margin-top: 3vh;" class="col-md-6 mx-auto col-sm-8">
    <div class="card border-info cardBorder">
      <div class="card-header bg-info">
        <div class="card-title">Reset Password</div>
      </div>

      <div style="padding-top:30px" class="card-body text-center ">
        <div class="text-center">
          <div>
            <h2>Reset Password!</h2>
          </div>
          <div>
            <h5>Please choose new password</h5>
          </div>
        </div>

        <br>
        <form id="loginform" class="form-horizontal" role="form">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2">
                <i class="fas fa-key"></i>
              </span>
            </div>
            <input type="password" #pass="ngModel" id="inputPassword" name="password" [(ngModel)]="password" class="form-control" placeholder="Enter Password"
              minlength="8" required>
          </div>
          <div [hidden]="pass.valid || pass.pristine" class="alert alert-danger">
            <div *ngIf="pass.errors?.minlength">
              ** Password should contain atleast 8 characters!
            </div>
            <div *ngIf="pass.errors?.required">
              ** Password is required!
            </div>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2">
                <i class="fas fa-key"></i>
              </span>
            </div>
            <input type="password" #pass2="ngModel" id="inputConfirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control"
              placeholder="Re-enter Password" minlength="8" required>
          </div>

          <div [hidden]="pass2.pristine || password==confirmPassword" class="alert alert-danger">
            <div *ngIf="password!=confirmPassword">
              ** Password does not match!
            </div>
            <div *ngIf="pass2.errors?.required">
              ** Confirm Password is required!
            </div>
          </div>

          <div style="margin-top:10px" class="form-group">
            <!-- Button -->

            <div class="col-sm-12 controls">
              <button id="btn-save" type="button" class="btn btn-primary" (click)="updatePasswordFunction()">
                <i class="icon-hand-right"></i> Save</button>
            </div>
          </div>

        </form>
      </div>
      <div class="card-footer text-center">
        <div class="col-md-12 control">
          LetsMeet makes meeting scheduling easy...
        </div>
      </div>

    </div>
  </div>
</div>