<my-nav></my-nav>
<div class="container">
  <div style="margin-top: 3vh;" class="col-md-6 mx-auto col-sm-8">
      <div class="card border-info cardBorder">
          <div class="card-header bg-info">
              <div class="card-title">Forgot Password</div>
          </div>

          <div style="padding-top:30px" class="card-body text-center ">
              <div class="text-center">
                  <div>
                      <h2>Request Password!</h2>
                  </div>
                  <div>
                      <h5>Please provide your email and we'll send a link to set up a new password.</h5>
                  </div>
              </div>

              <br>
              <form  class="form-horizontal" role="form">

                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">
                              <i class="fas fa-at"></i>
                          </span>
                      </div>
                      <input type="email" id="inputEmail" [(ngModel)]="email" class="form-control" placeholder="Email address" name= "email" required autofocus>
                  </div>

                  <div style="margin-top:10px" class="form-group">
                      <!-- Button -->

                      <div class="col-sm-12 controls">
                        <button id="btn-send" type="button" class="btn btn-primary" (click)="forgotPasswordFunction()">
                            <i class="icon-hand-right"></i> Send</button>

                      </div>
                  </div>


              </form>
          </div>
          <div class="card-footer text-center">
              <div class="col-md-12 control">
                  LetsMeet makes meeting scheduling easy...
              </div>
          </div>

      </div>
  </div>
</div>