<div class="container">
  <div class="row">
    <div style="margin-top: 30vh;" class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card border-info cardBorder">
  
        <div class="card-body text-center">
          <div class="text-center">
            <div>
              <h5> <span style="color:red">Oops! </span> This is awkward... 
                <br>You are looking for something that doesn't actually exist.
              </h5>
            </div>
            <div >
              <h2> <span style="color:red">Error 404 :( </span> </h2>
            </div>
          </div>
        </div>
  
        <div class="card-footer text-center">
          <div class="col-md-12 control">
              <button type="button" class="btn btn-success" (click)="goBack()">
                  Go back friend, go back
                </button>
              
          </div>
        </div>
  
      </div>
  
    </div>
  
  </div>
</div>
