<div class="container">
    <div class="row">
      <div style="margin-top: 30vh;" class="col-sm-12 col-md-12 col-lg-12 mx-auto">
        <div class="card border-info cardBorder">
    
          <div class="card-body text-center">
            <div class="text-center">
              <div>
                  <i class="fas fa-5x fa-exclamation-triangle icons"></i>
              </div>
              <br>
              <div>
                <h5> <span style="color:red">Oops! </span> This is awkward... 
                  <br>
                  <br> Internal Server Error!
                </h5>
              </div>
              <div >
                <h1> <span style="color:red">Error 500 :-( </span> </h1>
              </div>
            </div>
          </div>
    
          <div class="card-footer text-center">
            <div class="col-md-12 control">
                <button type="button" class="btn btn-success" (click)="goToSignIn()">
                    Redirect me to Login Page
                </button>
          
            </div>
          </div>
    
        </div>
    
      </div>
    
    </div>
  </div>
  