
<nav class="navbar sticky-top navbar-expand-lg navbar-light " style="background-color: #e3f2fd">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand h1" href="#">Let'sMeet</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/user/login']">Login </a>
        </li>

        <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/user/signup']">Register </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Help</a>
          </li>
      </ul>
  </div>
</nav>
